# azure openai
export AZURE_OPENAI_API_KEY=""
export AZURE_OPENAI_ENDPOINT=""
export AZURE_OPENAI_API_VERSION=""
export AZURE_OPENAI_GPT4V_DEPLOYMENT_NAME=""
export AZURE_OPENAI_DALLE3_DEPLOYMENT_NAME=""